body {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin: 5%;
}	

h1, p {
	font-size: 3em;
	text-align: center;
}

input {
	font-size: 2em;
}

#hangman {
	display: grid;
	grid-template-columns: repeat(10, auto);
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 30px;
}

/* tiret quand lettre pas trouvée */
.box {
	width: 50px;
	height: 10px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	margin-top: 100px;
}

/* quand lettre trouvée */
.boxFound {
	width: 50px;
	height: 10px;
	font-size: 4em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	margin-top: 100px;
}

button {
	font-size: 2em;
	width: 200px;
	height: 50px;
	background-color: white;
	color: black;
	border-radius: 10px;
	margin-top: 20px;
}

button:hover {
	background-color: black;
	color: white;
}

.alphabet {
	width: 200px;
	height: 400px;
	display: grid;
	grid-template-columns: repeat(6, auto);
	margin-left: 60%; 
	margin-top: 10%;
}

img {
	float: left;
}

.letter {
	text-align: center;
	margin: 10px;
	font-size: 3em;
}

.letter:hover {
	cursor: pointer;
	font-weight: bold;
}
